<p id="notice"><%= notice %></p>

<p>
  <strong>Done:</strong>
  <%= @pivotal_tracker.done %>
</p>

<p>
  <strong>New:</strong>
  <%= @pivotal_tracker.new %>
</p>

<p>
  <strong>Old:</strong>
  <%= @pivotal_tracker.old %>
</p>

<p>
  <strong>Older:</strong>
  <%= @pivotal_tracker.older %>
</p>

<p>
  <strong>Tracker:</strong>
  <%= @pivotal_tracker.tracker_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @pivotal_tracker.project_id %>
</p>

<%= link_to 'Edit', edit_pivotal_tracker_path(@pivotal_tracker) %> |
<%= link_to 'Back', pivotal_trackers_path %>
