<%= form_for(@pull_request) do |f| %>
  <% if @pull_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pull_request.errors.count, "error") %> prohibited this pull_request from being saved:</h2>

      <ul>
      <% @pull_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :red %><br>
    <%= f.number_field :red %>
  </div>
  <div class="field">
    <%= f.label :yellow %><br>
    <%= f.number_field :yellow %>
  </div>
  <div class="field">
    <%= f.label :green %><br>
    <%= f.number_field :green %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
