<%= form_for(@slack_data_point) do |f| %>
  <% if @slack_data_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slack_data_point.errors.count, "error") %> prohibited this slack_data_point from being saved:</h2>

      <ul>
      <% @slack_data_point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :messages %><br>
    <%= f.number_field :messages %>
  </div>
  <div class="field">
    <%= f.label :slack_metric_id %><br>
    <%= f.number_field :slack_metric_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
