<p id="notice"><%= notice %></p>

<h1>Listing Slack Metrics</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slack_metrics.each do |slack_metric| %>
      <tr>
        <td><%= link_to 'Show', slack_metric %></td>
        <td><%= link_to 'Edit', edit_slack_metric_path(slack_metric) %></td>
        <td><%= link_to 'Destroy', slack_metric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slack metric', new_slack_metric_path %>
