%p{:id => "notice"}= notice

.container-fluid
  .row
    %div{:class => ['col-sm-12', 'col-md-12', 'main']}
      %h1.page-header ProjectScope
      
      .table-responsive
      
        %table{:class => ['table', 'table-striped']}
          %thead
            %tr
              %th Project
              %th GPA
              %th Coverage
              %th Pull Requests
              %th Slack
              %th Pivotal Tracker
              -#
                %th{:colspan => "3"}
        
          %tbody
            - @projects.each do |project|
              %tr{:id => 'project-' + project.id.to_s}
                %td
                  %h4
                    = link_to project.name, 'https://github.com/' + project.pull_request.repo, :target => '_blank'
                  .projectID.hidden= project.id
                %td
                  %div{:class => 'badge-container-gpa'}
                    %div{:class => 'badge-gpa'}
                      %a{:href => project.code_climate_metric.url, :target => '_blank'}
                        %img{:src => project.code_climate_metric.gpa_badge_url}
                %td
                  %div{:class => 'badge-container-cov'}
                    %div{:class => 'badge-cov'}
                      %a{:href => project.code_climate_metric.coverage_url, :target => '_blank'}
                        %img{:src => project.code_climate_metric.coverage_badge_url}
                %td
                  %div{:id => project.id.to_s + '-pull-request-link', :class => 'hidden'}= project_pull_request_url(project, project.pull_request, format: :json)
                  %div{:id => project.id.to_s + '-pull-request', :class => 'pr-graphic'}
                  %div{:class => 'pr-graphic'}= project.pull_request.total >= 0 ? 'Pull requests: ' + project.pull_request.total.to_s : ''
                %td
                  %div{:id => project.id.to_s + '-slack-link', :class => 'hidden'}= project_slack_data_points_url(project, format: :json)
                  %div{:id => project.id.to_s + '-slack'}
                %td
                  %div{:id => project.id.to_s + '-pivotal-tracker-link', :class => 'hidden'}= project_pivotal_tracker_url(project, project.pivotal_tracker, format: :json)
                  %div{:id => project.id.to_s + '-pivotal-tracker'}
                -#
                  %td= link_to 'Edit', edit_project_path(project)
                  %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
      -#
        %p
          = link_to 'Add a Project', new_project_path
