%p{:id => "notice"}= notice

.container-fluid
  .row
    %div{:class => ['col-sm-12', 'col-md-12', 'main']}
      %h1.page-header Project Stats
      
      .table-responsive
      
        %table{:class => ['table', 'table-striped']}
          %thead
            %tr
              %th
              %th Pull Requests
              %th Slack
              %th{:colspan => "2"}
        
          %tbody
            - @projects.each do |project|
              %tr
                %td
                  %h4= project.name
                  %span.text-muted= link_to project.git_repo, 'https://github.com/'+project.git_repo
                %td
                  .pull-request-link
                    = project_pull_request_url(project, project.pull_request, format: :json)
                  %div{:id => project.name.gsub(/ /, '-')}
                %td
                  %div{:id => 'heatmapContainer'}
                %td= link_to 'Edit', edit_project_path(project)
                %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
      %p
        = link_to 'Add a Project', new_project_path
