%p{:id => "notice"}= notice

.container-fluid
  .row
    %div{:class => ['col-sm-12', 'col-md-12', 'main']}
      %h1.page-header Project Stats
      
      .table-responsive
      
        %table{:class => ['table', 'table-striped']}
          %thead
            %tr
              %th
              %th Pull Requests
              %th Slack
              -#
                %th{:colspan => "2"}
        
          %tbody
            - @projects.each do |project|
              %tr
                %td
                  %h4= project.name
                  .projectID.hidden= project.id
                  %span.text-muted= link_to project.pull_request.repo, 'https://github.com/'+project.pull_request.repo
                  %div
                    %p
                      %a{:href => 'https://codeclimate.com/github/' + project.pull_request.repo}
                        %img{:src => 'https://codeclimate.com/github/' + project.pull_request.repo + '/badges/gpa.svg'}
                %td
                  %div{:id => project.id.to_s + '-pull-request-link', :class => 'hidden'}= project_pull_request_url(project, project.pull_request, format: :json)
                  %div{:id => project.id.to_s + '-pull-request'}
                %td
                  %div{:id => project.id.to_s + '-slack-link', :class => 'hidden'}= project_slack_data_points_url(project, format: :json)
                  %div{:id => project.id.to_s + '-slack'}
                -#
                  %td= link_to 'Edit', edit_project_path(project)
                  %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
      -#
        %p
          = link_to 'Add a Project', new_project_path
